*{
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    border: border-box;
}

               /* HEADER  */


               /* BOX-1  */
#navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;  
    align-items: center;
    justify-content: space-evenly;
    
}

#nav-logo{
    height: 50px;
    width: 133px;
    /* padding-right: 3px; */

}

#amalogo{
height: 49px;
width:90px;

padding: 1px 8px 0px 0px;    



}


/* .border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
} */

.amalogo{
    border: 1px solid transparent;
}

.amalogo:hover{
    border: 1px solid white;  
}

         /* Box-2  */

#nav-address:hover{
    border: 1px solid white;
}   
  


#nav-address{
    height: 41px;
    width: 90px;
    /* margin-bottom: 16px;  */
    padding: 1px 4px 7px 4px;  
    /* align-self: center; */
    border: 1px solid transparent;  
  
 
}

#delivery{
    font-size: 0.85rem;
    color: #cccccc;
    margin-left: 15%;
    margin-top: 9%; 

    
}

#india{
    font-size: 1rem;
    margin-left: 4%;  
    font-weight: 600;
}

.fa-solid{
    padding-top: 1%;
}
.nav-deliver-logo{
    display: flex;
    /* height: 10px; */
    
    
}

      /* BOX-3  */


#nav-search{
    display: flex;
    width: 600px;  
    height: 40px;
    background-color: #ff9b00; 
    border-radius: 4px;
    border: none;
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid transparent

    
}

#nav-search:hover{
    border: 2px solid yellow 
}

.selectors{
    width: 55px;
    height: 40px;
    background-color: #E6E6E6;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center;
    border: none;
}


#input-box{
    width: 100%; 
    padding-left: 12px;
    font-size: 1rem;
    border: none; 

}


#search-icon{
    width: 50px;
    height: 40px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color:#0f1111;
    border: none;

    
    
}

           /* BOX-4   & BOX-5   */
 
.signin{
    font-size: 0.8rem;
}

.accounts{
    font-size: 0.9rem;
    font-weight: 700;
}

#nav-signin:hover{
    border: 1px solid white;
}

#nav-signin{
    border: 1px solid transparent;
    padding: 10px 4px 10px 4px
}


#nav-return:hover{
    border: 1px solid white;
}

#nav-return{
    border: 1px solid transparent;
    padding: 10px 4px 10px 4px
}

                    /* BOX-6 */

#nav-cart i{
    font-size: 1.7rem;
}

#nav-cart {
    font-size: 0.9rem;
    font-weight: 700;
    border: 1px solid transparent;
    padding: 10px 4px 10px 4px
}

#nav-cart:hover{
    border: 1px solid white;
}


             /* SECOND_NAVBAR  */

#navbar-two{
    background-color: #385555;
    height: 39px;
    color: white;
    font-size: 0.96rem;  
    display: flex;
    justify-content: space-around;  
    align-items: center;
    
}

.navbar-3line{
    padding: 8px 9px 8px 9px;
    border: 1px solid transparent;

}

.navbar-3line:hover{
    border: 1px solid white;
    
}

.all{
    color: white;
    text-decoration: none;
    /* margin-left: 0.3rem;  */
    margin-right: 1rem;
    font-size: 0.94rem;
    font-weight: 700;
}

#icon{
    height: 39px;
    width: 58px;

}

#multiple-child a{
    display: inline;
    margin: 0px 0px 0px 6px;
    
    

    /* justify-content: space-between;  */
}

#multiple-child{
    width: 68%;
    
}



.childrens{
    color: white;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 7px 4px 7px 4px;
    
}
.childrens:hover{
    border: 1px solid white;
}



#valentine {
    font-weight: 700;
    border: 1px solid transparent;
    padding: 7px 4px 7px 4px;
    margin-right: 1rem;
}


#valentine:hover{
    border: 1px solid white;

}


         /* HERO-SECTION  */

#hero{
    background-image: url("/amazon.us-landing-page/images/hero.jpg");
    height: 400px;
    background-size: cover;  
    /* border: 1px solid red;  */
    display: flex;
    justify-content: center;
    align-items: flex-end;

    
}

#id-para{
    height: 40px;
    background-color: #f5f6f6;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.2px solid rgba(90, 82, 82, 0.247); 
    border-radius: 4px;
    font-size: 0.9rem;

}

#id-para a{
    text-decoration: none;
}

            /* SHOP-AREA  */

.shop-section{
    display: flex;
    justify-content: space-around;
    background-color: #e5e6e4;


}

.box{
    height: 400px;
    width: 23%;
    /* border: 1px solid black;  */
    background-color: white;
    margin-top: 1rem;   
    margin-bottom: 2rem; 
}

.box1-img{
    background-image: url(/amazon.us-landing-page/images/shopoffice.jpg);
    height: 300px;
    margin: 1rem 

}

.anchor1 a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    margin: 0.8rem

}

.first-child{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}


.box2-img{
    padding-top: 1.3rem;
    
    height: 300px;
    
}

.anchor2 a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    margin: 1rem;

}


 .gaming2{
    display: flex;
    justify-content: center ;
    margin-top: 0.5rem; 
 }

 .box2-img-part1{
    display: flex;
    /* justify-content: space-around;  */

 }

 .gaming-products1{
    height: 100px;
    width: 8rem;
    /* border: 1px solid black;  */
    background-image: url("/amazon.us-landing-page/images/Fuji_Quad_Headset_.jpg");
    background-size:contain;
    background-repeat: no-repeat;
 }

 .head-key{
    display: flex;
    justify-content: space-around ; 
 }

 .head-key a{
    text-decoration: none;
    color: #0f1111;
 }

 .gaming-products2{
    height: 100px;
    width: 8rem;
    background-image: url("/amazon.us-landing-page/images/Fuji_Quad_Keyboard_1x_.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 2rem;
    /* border: 1px solid black;  */

 }
 .box2-img-part2{
    display: flex;
    /* justify-content: space-around;  */
    margin-top: 2rem; 

    
 }

 .gaming-products3{
    width: 8rem;
    height: 100px;
    
    
    /* border: 1px solid black;  */
    background-image: url("/amazon.us-landing-page/images/Fuji_Quad_Mouse_1x_.jpg");
    background-size:contain;
    background-repeat: no-repeat;

 }
 .gaming-products4{

    height: 100px;
    width: 8rem;
    /* border: 1px solid black;  */
    background-image: url("/amazon.us-landing-page/images/Fuji_Quad_Chair_.jpg");
    background-size:cover;
    /* background-repeat: no-repeat;  */

 }



 .pc-deals{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
 }

 .gaming-cabinet{
    background-image: url("/amazon.us-landing-page/images/gaming_cabinet.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    margin: 1rem;
 }

 .anchor3 a{
    display: flex;
    justify-content: center;
    color: #0f1111;
    text-decoration: none;
 }


.music-audio{
    display: flex;
    justify-content: center;
}
.gaming2{
    display: flex;
    justify-content: center ;
    margin-top: 0.5rem; 
 }



 .main-img-section-1{
    display: flex;
    justify-content: space-around


 }

 .sub-img1{
    height: 120px;
    width: 8rem;
    /* border: 1px solid black;   */
    background-image: url("/amazon.us-landing-page/images/listen-head.jpg");
    background-size: cover;
    background-repeat: no-repeat;

 }
 .sub-img2{
    height: 120px;
    width: 8rem;
    /* border: 1px solid black;   */
    background-image: url("/amazon.us-landing-page/images/guitars.jpg");
    background-size: cover;
    background-repeat: no-repeat;

 }


 .description1 {
    display: flex;
    justify-content: space-around;
    padding-top: 0.3rem;
    
    margin-right: 1rem;


 }

 .description1 a{
    color: black;
    text-decoration: none;
 }

 .description2{
   display: flex;
   justify-content: space-around;
   padding-top: 0.3rem;
   padding-left: 1rem; 
   

 }
 .description2 a{
    color: black;
    text-decoration: none;
 }




 .main-img-section-2{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    justify-content: space-around
    
 }

 .sub-img3{
    height: 120px;
    width: 8rem;
    /* border: 1px solid black;   */
    background-image: url("/amazon.us-landing-page/images/piano.jpg");
    background-size: cover;
    background-repeat: no-repeat;


 }
 .sub-img4{
    height: 120px;
    width: 8rem;
    /* border: 1px solid black;   */
    background-image: url("/amazon.us-landing-page/images/images.jpg");
    background-size: cover;
    background-repeat: no-repeat;


 }
 
 .anchor4 a{
    display: flex;
    justify-content: center;
    color: #0f1111;
    text-decoration: none;
    margin-top: 0.9rem;
 }



      /* footer  */

.footer-main{
    height: 100px;
    /* display: flex;  */
    /* justify-content: center;  */
    text-align: center;
    margin-top: 2rem;
    padding-top: 2rem;
    margin-bottom: 3rem;
    border: 1px solid rgb(211, 197, 197);
    border-radius: 3px;
}


.button button{
    height: 28px;
    width: 230px;
    background-color: #ff9b00;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    cursor: pointer;

}



.recommend{
    margin-bottom: 0.5rem;
    font-size: .8rem;
    font-weight: 600;
}

.new-cus-para{
    margin-top: .2rem;
    font-size: 0.7rem;
    font-weight: 700;
}

.new-cus-para a{
    color: #0f1111;
    text-decoration: none;
}


.back-to-top{
    background-color: #385555;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.back-to-top a{
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;

}


.main-footer-two{
    display: flex;
    justify-content: space-around;
    height: 300px;
    padding: 10rem;
    background-color: #0e1313;
    color: white;
}

.pr1{
    margin-bottom: .8rem;
    font-weight: 600;
}
.pd1{
    margin-bottom: .8rem;
    font-weight: 600;
}
.pf1{
    margin-bottom: .8rem;
    font-weight: 600;
}
.pp1{
    margin-bottom: .8rem;
    font-weight: 600;
}
#puppies{
    margin-bottom: 1rem;
}

.amazon-picture img{
    width: 7rem;
    margin-left: 15rem;
    margin-right: 3rem;
    margin-top: .8rem;
}

.other-info{
    background-color:#0b1b1b ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.language{
    border: 1px solid rgb(211, 197, 197);
    padding: 10px 6px 10px 7px;
    border-radius: 4px;
    margin-right: 1rem;
    
}

.selectors-two{
    border-radius: 3.5px;
    background-color: #ff9b00;

}

.money{
    
    border: 1px solid rgb(211, 197, 197);
    padding: 10px 6px 10px 7px;
    border-radius: 3.5px;
}

.united{
    margin-right: 14rem;   
    margin-left: 1rem; 
    border: 1px solid rgb(211, 197, 197);
    padding: 10px 6px 10px 7px;
    border-radius: 3.5px;
}



 .end-footer{
    height: 80px;
    /* display: flex;  */
    /* justify-content: center;  */
    text-align: center;
    padding-top: 3rem;
    background-color: #0e1313;
    color: white;

} 


.main-anc{
    color: white;
    text-decoration: none;
}
.last-para{
    margin-top: 0.6rem;
}



/* shop-section-2nd-part  */

.shop-section-2{
    /* height: 400px; */
    display: flex;
    justify-content: space-around;
    background-color: #e5e6e4;
    
}

         /* boxes of secion-2  */
.boxx{
    height: 400px;  
    width: 23%;
    /* border: 1px solid black;    */
    background-color: white;
    margin-top: 1rem;   
    margin-bottom: 3rem;  
}




     /* ++++ boxes-heading-styling ++++ */

.sb-head1{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

.sb-head2{
    display: flex;
    justify-content: center;
}

.main-img-child{
   
   display: flex;
   justify-content: space-between;
   padding-bottom: 1rem; 
}

.main-img-child2{
   
    display: flex;
    justify-content: space-between; 
    padding-bottom: 1rem; 
    padding-top: 1rem;
 }
 

.main-img-papa{
    margin: 1rem;
}

.grandchild1{
    height: 100px;
    width: 8rem;
    /* border: 1px solid black;   */
    background-image: url("/amazon.us-landing-page/images/garlands.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}


.grandchild2{
    height: 100px;
    width: 8rem;
    /* border: 1px solid black;   */
    background-image: url("/amazon.us-landing-page/images/outdoor-decor.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}

.grandchild3{
    height: 100px;
    width: 8rem;
    /* border: 1px solid black;   */
    background-image: url("/amazon.us-landing-page/images/pillows.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}

.grandchild4{
    height: 100px;
    width: 8rem;
    /* border: 1px solid black;   */
    background-image: url("/amazon.us-landing-page/images/wallmart-art-mirrors.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}


    /* ++++++img-description-box-1  */

    .descripone{
        display: flex;
        justify-content: space-around;
       
    }

    .descripone a{
        color: black;
        text-decoration: none;

    }

    .garlands{
        margin-right: 22px;
    }

    /* last -description-1box  */

    .last-desc{
        display: flex;
        justify-content: center;
    }
    .last-desc a{
        text-decoration: none;
        color: black;
        margin-top: .9rem;
    }


            /* box-2  */

.main-img-sec{
    height: 300px;
    background-image: url("/amazon.us-landing-page/images/oral-b-toothbrush.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;

} 

.main-desc-1{
    display: flex;
    justify-content: center;
}
.main-desc-1 a{
    color: black;
    text-decoration: none;
    margin-top: 1rem;
}

  /* box-3  */

  .main-img-sec-2{
    height: 300px;
    background-image: url("/amazon.us-landing-page/images/silver-shoes.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;

} 

.main-desc-2{
    display: flex;
    justify-content: center;
}
.main-desc-2 a{
    color: black;
    text-decoration: none;
    margin-top: 1rem;
}

         /* box-4  */

.main-img-sec-3{
    height: 280px;
    background-image: url("/amazon.us-landing-page/images/office-furniture.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* margin-top: 1rem;  */

} 

.main-desc-3{
    display: flex;
    justify-content: center;
}
.main-desc-3 a{
    color: black;
    text-decoration: none;
    margin-top: 1.4rem;
}